table {
  font-family: "Helvetica Neue";
  background-color: #ffdf2b;
}

table,
th,
td {
  border: 1px solid black;
}

td,
th {
  text-align: center;
  padding: 5px;
}

tr {
  background-color: #ffdf2b;
}
