.nav-custom-bg {
  background-color: white;
  background-position: 100%;
}

/* Footer */
.footer-wraper {
  background-color: slategrey;
  min-height: 50px;
}

.text-main {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-60%, 50%);
  color: white;
}

.praktikum {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  padding: 330px;

  /* For The Text */
}
