body {
  background-color: #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  background-color: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

label,
input,
textarea,
input[type="submit"] {
  display: block;
  margin-bottom: 10px;
}

input[type="number"],
textarea {
  width: 100%;
}

input[type="submit"] {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
