.intiText {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero {
  background-image: url("./Assets/hero.jpg"); /* Ganti 'gambar.jpg' dengan URL atau path gambar Anda */
  background-size: 100%; /* Untuk mengisi seluruh area hero dengan gambar */
  background-position: 100%; /* Untuk mengatur posisi gambar ke tengah hero */
  color: #fff; /* Warna teks */
  padding: 450px 0; /* Padding di atas dan bawah */
  text-align: left; /* Pusatkan teks secara horizontal */
}
.hero h1 {
  font-size: 36px; /* Ukuran font judul */
}
.hero p {
  font-size: 18px; /* Ukuran font paragraf */
}

.text-datang {
  position: absolute;
  top: 52%;
  left: 17.4%;
  color: white;
  /* transform: translate(-50%, -50%); */
}
